.main{
	height: 80vh;
	width: 40vw;
	border: 1px solid black;
	background-color: white;
}

.inputField{
	height: 75%;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 1%;
	border-bottom: 1px solid black;

}

.chatField{
	width: 98%;
	height: 20%;
	margin: 0 auto;
	display: flex;
}

.wrapper-for-avatar{
	margin: 5px;
	max-width: 50px;
	max-height: 50px;
	width: 10%;

}

.wrapper-for-message{
	margin-top: 5px;
	width: 85%;
	height: 90%;
}

.defaultAvatar,
.message{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.nameLastName{
	display: flex;
	flex-direction: row;
}

.nameLastName p{
	margin: 0px;
	margin-right: 10px;
}


